<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Info</h1>
        <p>Name: {{ name_show }}</p>
        <p>Dojo Location: {{ dojo_show }}</p>
        <p>Favorite Language: {{ language_show}} </p>
        <p>Comment: {{ comment_show}} </p>
</body>
</html>